@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif:
        "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times,
        serif;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-dark: #141414;
    --color-white: #e5e2e1;
    --color-primary: #7a1cac;
    --color-secondary: #ad88c6;
    --color-tertiary: #2e073f;
    --color-accent: #e7b4ff;
    --color-dark-accent: #1b191c;

    --breakpoint-xs: 30rem;
}

@layer theme {
}

@layer utilities {
    .btn-animation {
        transition: color 0.3s ease-in-out;
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
            z-index: -1;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

@layer components {
    .menu-item {
        display: inline-block;
        position: relative;

        transition: color 0.3s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-accent);
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
        }

        &:hover::after {
            transform: scaleX(1);
        }

        &:hover {
            @apply text-accent;
        }
    }

    .nav-btn {
        @apply text-accent border-accent border px-8 py-2 xl:py-3 hover:text-tertiary font-semibold after:bg-accent;

        &::after {
            background-color: var(--color-accent);
        }
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
